body {
  background-color: rgb(217, 217, 250);
}

.ashleyPic {
  height: 350px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: rgb(240, 240, 3);
  font-family: "Dancing Script", cursive;
}

p {
  color: rgb(209, 2, 2);
  text-align: center;
}
